body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding: 30px;
}
li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}
button {
  margin-left: 10px;
}